<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="目標や夢を自由に投稿するアプリです。夢や目標を実現させる手助けになります。">
  <meta property="og:url" content="https://dreamapp1010.herokuapp.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Dream App" />
  <meta property="og:description" content="あなたの目標や夢を自由に投稿するアプリです。文字にしてみることで夢や目標が具体化され、それを何度も繰り返し見ることで潜在意識に刻まれると言われています。このアプリを使って、あなたの夢や目標を実現していきましょう！" />
  <meta property="og:site_name" content="目標や夢を自由に投稿するアプリ Dream App" />
  <meta property="og:image" content="./public/images/Dream_App_index.png" />
  <title>Dream App</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>